@tailwind base;
@tailwind components;
@tailwind utilities;

.terminal {
    background: #1e1e1e;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.terminal-header {
    background: #333;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 5px;
}

.button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.button.close {
    background: #ff5f56;
}

.button.minimize {
    background: #ffbd2e;
}

.button.maximize {
    background: #27c93f;
}

.terminal-body {
    padding-left: 10px;
    padding-top: 10px;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    overflow: hidden;
    height: calc(100% - 30px); /* Ajustar altura para la cabecera */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Asegura que el contenido comience desde arriba */
    align-items: flex-start; /* Alinea el contenido a la izquierda */
}

.xterm-screen {
    width: 100%;
}
