@import 'tailwindcss';

@plugin '@tailwindcss/forms';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
    button:not(:disabled),
    [role='button'] {
        cursor: pointer;
    }
}

@layer components {
    .btn {
        @apply flex items-center justify-center rounded-md h-max border px-4 py-2 text-center text-sm font-semibold transition-all duration-300 ease-in-out dark:border-gray-700;
    }
    .btn-primary {
        @apply bg-purple-500 shadow-purple-100 hover:bg-purple-700 border-purple-500 text-white;
        @apply from-purple-400 to-purple-500 dark:bg-purple-600 dark:hover:bg-purple-700 bg-gradient-to-br;
    }
}
/* custom scrollbar .xterm-viewport */

.xterm-viewport {
    scrollbar-width: thin;
    scrollbar-color: #6d7993 #1a202c;
    border-radius: 6px;
}

.xterm-viewport::-webkit-scrollbar {
    width: 6px;
}

.xterm-viewport::-webkit-scrollbar-thumb {
    background-color: #6d7993;
    border-radius: 6px;
}

.xterm-viewport::-webkit-scrollbar-track {
    background-color: #1a202c;
}
.xterm-screen {
    padding-left: 10px;
}

body {
    height: 100vh;
    overflow: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

